.top-bar-ap{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.sidebar-ap{
    background-color: #0195FF;
    min-height: calc(100vh - 60px);
    width: 100%;
}

.sidebar-ap-option{
    height: 40px;
    width: 230px;
    margin: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
        height: 26px;
        width: 26px;
        margin: 7px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%) hue-rotate(50deg) brightness(97%) contrast(99%);
    }
    h2{
        font-size: 17px;
        color: white;
        margin: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.sidebar-ap-option:hover{
    background-color: #3fafff;
    border-radius: 10px;
}

.sidebar-ap-option-selected{
    height: 40px;
    width: 230px;
    margin: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    img{
        height: 26px;
        width: 26px;
        margin: 7px;
        filter: brightness(0) saturate(100%) invert(50%) sepia(42%) saturate(6577%) hue-rotate(185deg) brightness(102%) contrast(106%);
    }
    h2{
        font-size: 17px;
        color: #0195FF;
        margin: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.display-ap{
    background-color: #D4E6EC;
    min-height: calc(100vh - 60px);
    width: 100%;
}